<!DOCTYPE html>
<html lang="en" ng-app="ffApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/stylesheet.less")" />
    <script>
        /*less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };*/
    </script>
    <script src="@Url.Content("~/Scripts/Libs/less.js")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/corelibs")
</head>
<body>
    @RenderBody()
    
    <script src="@Url.Content("~/Scripts/App/app.js")"></script>
    <script src="@Url.Content("~/Scripts/App/searchController.js")"></script>
</body>
</html>