<!DOCTYPE html>
<html lang="en" ng-app="ffApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-theme.min.css")"/>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/chosen.min.css")"/>
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/stylesheet.less")" />
    <script>
        /*less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 1000,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };*/
    </script>
    <script src="@Url.Content("~/Scripts/Libs/less.js")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/corelibs")
    <script src="@Url.Content("~/Scripts/Libs/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Libs/chosen.jquery.min.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    
    <script src="@Url.Content("~/Scripts/App/app.js")"></script>
    <script src="@Url.Content("~/Scripts/App/searchController.js")"></script>
    <script src="@Url.Content("~/Scripts/App/graphController.js")"></script>
    <script src="@Url.Content("~/Scripts/App/searchService.js")"></script>

</body>
</html>